.theme-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  & > .list {
    max-width: calc(36vmin + 6px + 3rem);

    & > .theme-item {
      display: inline-block;
      margin: 0 0.5rem;
      background-color: var(--bg);
      width: 12vmin;
      height: 12vmin;
      opacity: 0.3;
      transition: opacity 0.3s;
      border: solid 1px white;
      border-radius: 50%;

      &.current {
        opacity: 1;
      }
    }
  }
}
