:root {
  --grad-1: #ce9009;
  --grad-2: #c40c56;
  --bg: #000;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 2vmin;
}

body {
  background: var(--bg) none;
  color: #fff;
  padding: 4vmin;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  padding: 1vmin 0;
  margin: 1vmin 0;
  line-height: 105%;
}

#root {
  padding: 0;
  margin: 0;
}

.gradient {
  background: linear-gradient(
                  90deg,
                  var(--grad-1),
                  var(--grad-2)
  );
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.language-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > .flag {
    display: inline-block;
    margin: 0 1rem;
    background: transparent none no-repeat center center;
    background-size: contain;
    background-origin: content-box;
    width: 3rem;
    height: 3rem;
    opacity: 0.5;
    transition: opacity 0.3s;

    &.current {
      opacity: 1;
    }

    &.ru {
      background-image: url("/img/flag-ru.png");
    }

    &.uk {
      background-image: url("/img/flag-uk.png");
    }

    &.en {
      background-image: url("/img/flag-en.png");
    }
  }
}

.year-links {
  & > a {
    color: #888;
    text-decoration: underline;
    display: inline-block;
    padding: 2vmin;
    font-size: 2rem;
    font-weight: bold;
  }
}

.months {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4vmin 6vmin;

  .month {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .description {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .name {
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .days {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-content: center;
      grid-gap: 0.5vmin;
      align-self: stretch;

      .day {
        font-weight: bold;
        font-size: 1rem;

        &.holiday {
          color: var(--grad-2);
        }
      }
    }
  }
}
