@import 'components/Themes';

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 2vmin;
}

body {
  background: var(--bg) none;
  color: var(--text-color);
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  padding: 1vmin 0;
  margin: 1vmin 0;
  line-height: 105%;
}

#root {
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
}

.gradient {
  background: linear-gradient(
                  90deg,
                  var(--grad-1),
                  var(--grad-2)
  );
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
